<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>React + Express = 💙</title>
    <meta name="author" content="Azat" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div id="content">{{{about}}}</div>
  </body>
</html>
